.CardItem {
  padding: 25px;
  box-shadow: 4px 2px 22px -7px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.CardItem img {
  max-width: 280px;
}

.CardItem__imgBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardItem__imgBlock:hover .CardItem__imgBlock_hover {
  display: block;
}

.CardItem__imgBlock_percent {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #ffffffa6;
  border-radius: 7px;
  padding: 0 2px;
  color: #b30f88;
  font-weight: 600;
}

.CardItem__imgBlock_hover {
  position: absolute;
  top: 50%;
  left: 60px;
  display: none;
}

.CardItem__imgBlock_modal {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #ffffffa6;
  cursor: pointer;
}

.CardItem__imgBlock_toggleModal {
  padding: 100px;
  position: absolute;
  z-index: 1;
  background: white;
  border-radius: 35px;
  width: 400px;
}

.CardItem__modal_img {
  width: 550px;
}

.CardItem__imgBlock_toggleModal img {
  width: 100%;
}

.CardItem__price_block {
  padding-top: 25px;
}

.CardItem__price_discount {
  font-weight: 700;
  font-size: 20px;
}

.CardItem__price {
  font-weight: 600;
  font-size: 18px;
  color: gray;
  text-decoration: line-through;
}

.CardItem__price_with_card_Block {
  display: flex;
  gap: 5px;
  align-items: center;
}

.CardItem__price_with_card_Block img {
  width: 33px;
}

.CardItem__price_with_card {
  font-weight: 600;
  font-size: 18px;
  color: #b30f88;
}

.CardItem__name {
  color: gray;
  width: 195px;
  padding: 10px 0;
}

.CardItem__rating {
  color: gray;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 15px;
}

.CardItem__installment_plan {
  background: linear-gradient(90deg, rgba(28, 238, 255, 0.35057773109243695) 4%, rgb(232 246 0 / 75%) 100%);
  border-radius: 30px;
  display: inline;
  padding: 7px 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.CardItem__cartBlock {
  padding-top: 23px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.CardItem__cartBlock svg {
  cursor: pointer;
}


.CardItem__cart {
  border: none;
  padding: 15px 20px;
  background: #b30f88;
  color: white;
  font-weight: 700;
  border-radius: 13px;
  font-size: 15px;
  cursor: pointer;
}