* {
  margin: 0;
  padding: 0;
}

.App {
  /* max-width: 1200px; */
  margin: 0 auto;
}

.App__header {
  padding: 21px;
  border-bottom: solid 1px rgba(187, 187, 187, 0.644);
}

.App__header a {
  padding: 20px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.App__wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  border-bottom: solid 3px #56baed;
}